.col-4 {
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#next4days {
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-3 {
  border: 1px solid #96c7c1;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
}

.cloud-sun {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #96c7c1;
}

.sun-rain {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #96c7c1;
}

.sun {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #96c7c1;
}

.sun2 {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #96c7c1;
}
