#actualTemp {
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
}

#celcius {
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}

i {
  padding-right: 7px;
}
